* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #696969;
}

body{
	padding-left: 1%;
	font-family: Arial, Helvetica, sans-serif;
	width: 98%;

}

.title {
	margin-top: 0;
	font-size: 4.5rem;
	color: black;

}

.title hr, .endline { 
  border : 0;
  height: 4px; 
  box-shadow: 0 20px 20px -20px #8c8c8c inset;
}
.navbar .icon {
  display: none;
}

.navbar{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: .7rem;
}

.story{
	width: 100%;
	border: .05rem solid #696969;
}
.banner{
	width: 100%;
  	height: 25rem;
  	object-fit: cover;
  }

.banner_story, #topnews, .subweather,.head1{
	padding: 1rem;
	font-size: 1.5rem;
}

.rowscore th, td{
	
}
.rowscore th, td{
	padding: 1rem;
	font-size: 1.2rem;
}

.banner_story header, .weatherhead, .today-temperature, .head1{
	font-size: 2rem;
	font-weight: bold;
}

.topnewsheading{
	margin-bottom: .7rem;
}
#topnews a, li{
	list-style-type: none;
	margin: .7rem;
	font-size: 1rem;
}

#scoreboard{
  	width: 100%;
  	text-align: center;
  	margin-top:50px; 
 }

 .subweather{
 	margin-top: 0;
 	padding: 0;
 	
 }

 .weatherbox{
 	display: flex;
 	position: relative;
 	padding-left: 0;
 	margin-left: 0;
 }

 .weatherpic img{
 	width: 20rem;
 	position: relative;
 	left: -1rem;
 }

.today-temperature{
	padding-top: 3rem;
}

 .wrapper{
 	display: flex;
 	flex-basis: 95%;
 	justify-content: space-around;
 }
.head1{
	margin-bottom: .4rem;
	padding-left: 0;
	padding-bottom: 0;
}
.weather-items{
 	flex:1;
 	text-align: center;
 }

.weather-items img{
 	width: 60%;
 }

.news_articles img{
	width: 100px;
	float: left;
	margin-right: 10px;
}

.news_articles div, header, article{
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

.footer{
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	width: 100%;
}

@media only screen and (max-width: 768px){
	*{
		margin: 0;
		padding: 0;
	}
	body{
		width: 100%;
		margin: 0;
		padding: 0;
		text-decoration: none;
		color: #696969;
		font-family: Arial, Helvetica, sans-serif;
	}

	.title {
	font-size: 3rem;
	}
	.news-content{
  	display: flex;
  	flex-wrap: wrap;
  	}

  	.navbar .icon {
  	display: none;
	}

	.story{
	border: none;
	height: 20rem;
	flex:1 50%;
	order: 1;
	}
	.news1{
		flex:1 100%;
		order:3;

	}
	.scorediv{
		flex:1 100%;
		order: 4;
	}
	th{
		background-color: #5F9EA0;
	}
	tr:nth-child(even) {background-color: #f2f2f2;}

	table {
	  border-collapse: collapse;
	  width: 100%;
	}
	.weatherdiv{
		flex:1 45%;
		order: 2;
		font-size: 1rem;
	}
	.weatherpic img{
 	width: 10rem;
 	}
 	.weatherhead{
 		font-size: 2rem;
 		margin:0;
 		padding: .5rem;
 	}
 	.subweather{
 		padding-left: .4rem;
 	}
	.latest-news{
		flex:1 100%;
		order: 5;
		padding: .5rem;
	}

	.banner_story header, article{
		font-size: 1rem;
		margin: 0;
		padding: 0;
		
	}
	.story{
		position: relative;
	}
	.banner_story{
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: 2rem;
	}
	.banner{
	width: 100%;
  	height: 18rem;
  	object-fit: cover;
  }


}


@media screen and (max-width: 500px){
	*{
		margin: 0;
		padding: 0;
	}

	body{
		width: 100%;
	}

	.heading{
		margin-bottom: 0;
	}
.title {
	font-size: 1.5rem;
	margin-bottom: 0;
	padding-bottom: 0;
}
.title img{
	height: 2rem;
}
.title hr{
	display: none;
}

/*/.navbar .nav1{
	display: none;
}*/
.navber a.icon {
    float: right;
    display: block;
  }
.navbar a{display: none;}
 .navbar a.icon {
    float: right;
    display: block;
    position: absolute;
    top:1rem;
    right:1rem;
  }
.news-content{
	display: block;
	margin-top: 0;
	padding-top: 0;
}
#scoreboard{
	font-size: .8rem;
	margin-top: 0;
	padding-top: 0;
}
}